html {
    font-family: Arial;
}
body {
    margin: 0;
    box-sizing: border-box;
}
.alert-info {
    border: 1px solid gray;
    padding: 1em 0;
    background: aquamarine;
    text-align: center;
    margin:1em;
}
.alert-info>a {
    text-decoration: none;
    color: black;
}
h1 {
    text-align: center;
    margin: .25em auto.5em ;
}
.nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.nav-links>li {
    padding: 1em 1em;
    margin: .5em 1em;
    background: darkgray;
    text-align: center;
}
.nav-links a {
    background: darkgray;
}
img {
    height: 224px;
    width: 339px;
}
.header-img {
    display: flex;
    justify-content: center;
}


/* Small devices (tablets, 768px and up) */
@media screen and (min-width:768px) {
    .nav-links a {
        background: none;
    }
}
section {
    margin: 1em 1em 2.5em;
}
section h2 {
    margin: 0;
}
section p {
    margin: .5em 0;
}
.sub-section {
    font-style: italic;
}
.sub-section h2 {
    font-size: 1.25em;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 0 1em;
}
/* Medium devices (desktops, 992px and up) */
@media screen and (min-width:992px) { /* ... */ }

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) { /* ... */ }